.player {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: burlywood;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: -10px;


    span {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 15px;
    }

    img {
        padding-left: 5px;
        padding-top: 5px;
        height: 55px;
        object-fit: cover;
    }
}

.player-active {
    color: black;
    background-color: orange !important;
    cursor: pointer;

    &:hover {
        filter: brightness(1.1);
    }
}