.field {
    background-image: url('../../assets/img/board.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:960px) {
        overflow: hidden;
    }

    .card-stack {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img {
            position: absolute;
            height: 250px;

            @media (max-width:720px) {
                height: 150px;
            }
        }
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-10px);

        @media (max-width:720px) {
            transform: scale(1.1) translateY(-10px);
        }
    }
}

.played-card {
    right: 25px;
    transform: scale(1) translateX(220px) translateY(-240px) rotate(-10deg);
}

@media (max-width:720px) {
    .played-card {
        right: 15px;
        transform: scale(0.9) translateX(140px) translateY(-180px) rotate(-20deg);
    }
}

.pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1) translateX(220px) translateY(-240px) rotate(-10deg);

    @media (max-width:720px) {
        transform: scale(1) translateX(140px) translateY(-240px) rotate(-10deg);
    }
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1) translateX(220px) translateY(-180px) rotate(-10deg);
    }
}

@media (max-width:720px) {
    @keyframes pick-card-animation {
        0% {
            transform: scale(0.5);
        }

        40% {
            transform: scale(0.7);
        }

        60% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(0.9) translateX(140px) translateY(-100px) rotate(-10deg);
        }
    }
}

.player-position {
    position: absolute;
    right: 0;
    margin-top: 15px;

    app-player {
        margin-right: 15px;
    }
}

.scroll-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding-right: 10px;

    app-player-mobile {
        margin-left: 10px;
    }
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

@media (max-width: 508px) {
    .btn-add {
        position: absolute;
        right: 32px;
        bottom: 113px;
    }
}

.game-rules {
    position: absolute;
    width: 300px;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media (max-width: 508px) {
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
    }
}